<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mt-0">
                <div class="card shadow">
                    <img src="BG2.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Binary.co Assignment Project</h5>
                        <h5 class="card-title"> Register</h5>
                        <form action="/register" method="POST">
                            <div class="mb-3">
                                <label class="form-label" for="name">User Name</label>
                                <input class="form-control" type="text" id="name" name="name" autofocus required
                                    pattern="^\S+$">
                            </div>

                            <div>
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>

                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="">Confirm Password</label>
                                <input class="form-control" type="password" id="confirm_password" name="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="myCheck1" checked required>
                                <label class="form-check-label" for="myCheck1">
                                    I do accept terms & conditions.
                                </label>
                            </div>
                            <button class="btn btn-success btn-block">Register</button>
                            <p>Or <a href="./login">Sign In</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>