<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mt-0">
                <div class="card shadow">
                    <img src="/BG2.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/reset_password/<%= resettoken %>?_method=PUT" method="POST">
                            <div class="mb-3">
                                <label class="form-label" for="password">New Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>

                            </div>
<!-- 
                            <div class="mb-3">
                                <label class="form-label" for="password">Confirm Password</label>
                                
                            </div> -->

                            <button class="btn btn-success btn-block">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>